{% extends 'layout.html' %}
{% block body %}
<h1 >About Us</h1>
<p>Who We Are  A Pioneer with Innovative Character Incorporated in 1980, Informatics is an early pioneer in the business of e-Information in India. As a pre-Internet online information service provider, we have been playing a leadership role in promoting e-Information culture across the higher education market of India for over three decades. With rich industry experience and a qualified professional team behind us, we take pride in creating and delivering high-quality information products and services for local and global markets. Our Group Companies Informatics (India) Limited, Bangalore: The group’s parent company – manages the international business of the group. Informatics Publishing Limited, Bangalore: A wholly owned subsidiary of Informatics (India) Limited – manages the local (India) business of the group.
</p>
{% endblock %}
